body {
	background-color: #f5f7fa;
}
.testimonial-card {
	.card-up {
		height: 120px;
		overflow: hidden;
		border-top-left-radius: .25rem;
		border-top-right-radius: .25rem;
	}
	.avatar {
		width: 120px;
		margin-top: -60px;
		overflow: hidden;
		border: 5px solid #fff;
		border-radius: 50%;
	}
}
.aqua-gradient {
	background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}
